*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

.wrapper {
  max-width: 100%;
  margin: 0px auto;

  padding: 0px 0px 10px;
  /*background: #f4f7f8;*/
  /*border-radius: 8px;*/
}

p{
	font-weight:400;
	padding:10px;
}

video {
  width: 320px;
  height: 180px;
}

.videoWrapper, .textWrapper{
  margin: 0 auto;
  display: block;
  width: 100%;
}
.textWrapper{
  padding: 10px;
}

button{
  display: inline;
  text-align: left;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 5px;
}

/*
.audioWrapper {
  width: 400px;
}*/
