*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 0px 10px;
}

p{
	font-weight:400;
	padding:10px;
}

#video-player {
  width: 320px;
  height: 180px;
}

.videoWrapper, .textWrapper{
  margin: 0 auto;
  display: block;
  width: 100%;
}
.textWrapper{
  padding: 10px;
}

span{
  display: inline;
  text-align: left;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 5px;
  cursor:pointer;
}

.mejs__time-current {
  background: rgba(91, 255, 217, 0.7);
}

/*.mejs__button > button {
  background: transparent url('../controls.svg')
}*/

/*.mejs__playpause-button button{
  -webkit-transition: width .5s, height .5s; /* For Safari 3.1 to 6.0 */
  /*transition: width .5s, height .5s;
}*/

/*.st0:hover {
    width: 20px;
    height: 20px;
}*/

/*.st0{
  fill:#aaa;
}*/


@media (min-width: 768px) {
  .videoWrapper, .textWrapper{
    margin: 0 auto;
    display: block;
    width: 70%;
  }
}
